
@{
    ViewBag.Title = "Add";
}

<form action="/BanHang/Create" method="post">
    <label for="Name">Name:</label>
    <input name="ten" type="text" id="Name"/>
    <label for="Category">Category</label>
    <input name="ngaySX" type="text" id="Category"/>
    <button type="submit">Submit</button>
</form>

